<%= form_with model: [@article, @reply] do |form| %>
  <div class="form-group">
    <%= form.label :body, class: "label" %>
    <%= form.text_area :body, class: "form-control", required: true %>
  </div>
  <%= form.hidden_field :parent_id, :value => @parent_comment.id %>
  <%= form.submit %>
<% end %>
