<div class="card card-body my-1">
  <h3 class="card-title"><%= article.title %></h3>
  <h5 class="card-text">Created by: <%= article.user.full_name %></h5>
  <p class="card-text"><small class="text-muted">Created on: <%= article.updated_at.strftime("%d %B, %Y") %></small></p>

  <div class="container py-2">
  <% if user_signed_in? %>
    <%= render "articles/buttons/article_buttons", article: article %>
    <%= render "shared/unlike_button", like: liked_likeable(article) if user_likes_likeable?(article) %>
    <%= render "shared/like_button", likeable: {id: article.id, type: "Article"} unless user_likes_likeable? article %>
    <%= likeable_likes article %>
  <% else %>
    <i class="bi bi-star"></i> <%= likeable_likes article %>
  <% end %>
  </div>
</div>