<div class="card card-body my-1">
  <%# Article Card Body %>
  <h3 class="card-title"><%= article.title %></h3>
  <h5 class="card-text">Created by: <%= article.user.full_name %></h5>
  <p class="card-text"><small class="text-muted">Created on: <%= article.updated_at.strftime("%d %B, %Y") %></small></p>

  <%# Article Actions and Likes %>
  <div class="container py-2">
  <% if user_signed_in? %>
    <%= render "articles/buttons/article_buttons", article: article %>
    <%= render "shared/like_unlike", component: article, component_type: "Article" %>
    <%= likes_count article %>
  <% else %>
    <i class="bi bi-star"></i> <%= likes_count article %>
  <% end %>
  </div>
</div>
