<% if comment.id %>
<div class="card my-3">
    <div class="card-header"><%= comment.user.full_name %></div>

    <div class="card-body">
        <div class="card-text"><%= comment.body %></div>
            <% like_count = comment.likes.count %>
            <% if user_signed_in? %>
                <%= render "articles/buttons/comment_buttons", article: article, comment: comment %>

                <% like = current_user.likes.find_by(likeable: comment) %>
                <%= render "shared/unlike_button", like: like if like %>
                <%= render "shared/like_button", likeable: {id: comment.id, type: "Comment"} unless like %>
                <%= like_count %>
            
            <% else %>
                <span><i class="bi bi-star"></i> <%= like_count %></span>
            <% end %> <%# if user_signed_in? End %>
    </div>
        <% comment.replies.each do |reply| %>
            <div class="float-right mx-5">
                <%= render "comment", :comment => reply, :article => article %>
            </div>
        <% end if comment.replies %>
</div>
<% end %>