<% if comment.id %>
<div class="card my-3">
    <div class="card-header">
        <%= comment.user.first_name + " " + comment.user.last_name %>
    </div>
    <div class="card-body">
        <div class="card-text">
            <%= comment.body %>
        </div>
            <% like_count = comment.likes.count() %>
            <% if user_signed_in? %>
            <%= link_to "Delete", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Delete the comment?"
            }, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_article_comment_path(article, comment), class: "btn btn-primary"%>
            <%= link_to "Reply", article_comment_reply_path(article, comment), class: "btn btn-primary"%>

            <% like = current_user.likes.find_by(likeable: comment )%>
                <% if like %>
                    <%= link_to '<i class="bi bi-star-fill"></i>'.html_safe, like_path(like), :method => :delete %>
                <% else %>
                    <%= form_with(model: Like.new, method: :post, class: "d-inline") do |form|%>
                        <%= form.hidden_field :likeable_id, value: comment.id %>
                        <%= form.hidden_field :likeable_type, value: "Comment" %>
                        <%= button_tag type: 'submit', class: "p-0 m-0 border-0 bg-white" do %>
                            <i class="bi bi-star"></i>
                        <% end %> <%# Button End %>
                    <% end %> <%# Form End %>
                <% end %> <%# if like End %>
                <%= like_count %>
            <% else %>
                <span><i class="bi bi-star"></i> <%= like_count %></span>
            <% end %> <%# if user_signed_in? End %>
    </div>
    <% if comment.replies %>
        <% comment.replies.each do |reply| %>
            <div class="float-right mx-5">
                <%= render "comment", :comment => reply, :article => article %>
            </div>
        <% end %>
    <% end %>
</div>
<% end %>