<% if comment.id %>
<div class="card my-3">

  <%# Comment Body %>
  <div class="card-header"><%= comment.user.full_name %></div>
  <div class="card-body">
    <div class="card-text"><%= comment.body %></div>

  <%# Comment Actions and Likes %>
    <% if user_signed_in? %>
      <%= render "articles/buttons/comment_buttons", article: article, comment: comment %>
      <%= render "shared/like_unlike", component: comment, component_type: "Comment" %>
      <%= likes_count comment %>
    <% else %>
      <span><i class="bi bi-star"></i> <%= likes_count comment %></span>
    <% end %> 
  </div>
  
  <%# Comment Replies %>
  <% comment.replies.each do |reply| %>
    <div class="float-right mx-5"><%= render "comment", comment: reply, article: article %></div>
  <% end if comment.replies %>
</div>
<% end %>